// sass --watch ./style/style.scss ./style/style.css

$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
  }

  .container {
    margin: auto;
    width: 400px;
    min-height: 100vh;
    padding: 20px;
    background-color: $light-grayish-violet;
    .mobi {
      background-color: $white;
      width: 80%;
      min-height: 90vh;
      margin: 0 auto;
      padding: 10px;
      border-radius: 25px;

      .mobi-header {
        width: 90%;
        height: 65px;

        background-color: $light-magenta;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px 25px 5px 5px;
      }
      
      .mobi-autor {
        display: flex;
        justify-content: flex-start;
        .profile-foto img {
          width: 30%;
          border-radius: 50%;
        }
        .autor {
          font-size: 12px;
          color: $white;
          
        }
      }
    }
    .content {
      text-align: center;
      .main-header {
        margin-top: 50px;
      }
      .main-text {
        margin-top: 30px;
        line-height: 2;
        color: $grayish-blue;
        font-size: 15px;
      }
    }
    .dog-foto {
      display: flex;
      gap: 10px;
      .foto {
        width: 50px;
        border-radius: 10px;
      }
    }
    .message {
      width: 45%;
      margin: 20px;
      font-size: 10px;
    }
    
  }